*{
    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    grid-template-columns:  300px 300px 300px 300px auto;
    grid-template-rows: 400px 400px 400px auto;
}

.grid-item4{
    grid-row: 3;
}